//
//  Project.xcconfig
//  XcodeprojBuildSettingsDemo
//
//  Created by Maksym Grebenets on 22/9/17.
//  Copyright © 2017 Test. All rights reserved.
//

#include "Base.xcconfig"

COM_BUNDLE_ID_PREFIX = dev-
COM_DEBUG_PROVISIONING_PROFILE_SPECIFIER_PREFIX = match Development $(COM_BUNDLE_ID_BASE)
COM_DEBUG_PROVISIONING_PROFILE_SPECIFIER_PREFIX_PROD = $(COM_DEBUG_PROVISIONING_PROFILE_SPECIFIER_PREFIX)$(COM_PROD_SFX)
COM_DEBUG_PROVISIONING_PROFILE_SPECIFIER_PROD = $(COM_DEBUG_PROVISIONING_PROFILE_SPECIFIER_PREFIX_PROD)
